<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Поставщик -->
    <add key="provider" value="System.Data.SqlClient"/>
    <!-- Строка подключения -->
    <add key="cnStr" value="Data Source=константин-hp\SQLEXPRESS;
         Initial Catalog=Devite;Integrated Security=True;Pooling=False"/>
  </appSettings>
</configuration>
<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TasksDevite.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>-->
